# SMTP Configuration for Contact Form
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
# Set to 'true' if using port 465, 'false' for 587
SMTP_SECURE=false
SMTP_USER=maurin@flatscouts.ch
SMTP_PASS=wljfnmtskhcungvg
# Optional: The email address showing in the "From" field. 
# Should usually match SMTP_USER or be an alias authorized by the SMTP server.
SMTP_FROM="Flatscouts Website" <noreply@flatscouts.ch>
