.section {
  background-color: var(--color-background);
  padding: 6rem 2rem;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px;
  text-align: center;
}

.headline {
  font-family: var(--font-ubuntu);
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 2.5rem);
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.text {
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--color-primary);
}


